<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Curso Ingreso UTN FRA</title>

		<!--Estilos-->
		<link rel="stylesheet" type="text/css" href="../estilo.css">
		<link rel="stylesheet" type="text/css" href="../animacion.css">
		<!--final de Estilos-->
<!-- 1)Es necesario para que funcione angular la referencia a este archivo-->
		<script SRC="bower_components/angular/angular.min.js" TYPE="text/javascript"></script>
		<!--Lógica-Programación-->
		<script type="text/javascript" src="jsAgilidadAritmetica2.js"></script>
        <!--Final de Lógica-Programación -->
		

		</head>
	<body ng-app="AgilidadAritmetica2" ng-controller="controladorAgilidadAritmetica2" ng-init="comenzar()">
		<div class="CajaUno animated bounceInDown">
			

			<input type="text" readonly id="PrimerNumero" ng-model="datos.randomprimernumero">
			<input type="text" readonly id="Operador"  ng-model="datos.randomoperador">
			<input type="text" readonly id="SegundoNumero" ng-model="datos.randomsegundonumero" >
			<form id="FormIngreso">
				<input type="text"  id="Respuesta" ng-model="datos.respuesta">
				<center>
					<img src="imagenes/interrogacion.jpg" >
				</center>
				
			</form>
			<button  class="MiBotonUTN" ng-click="Responder()" >Aceptar</button>
			<button  class="MiBotonUTN" ng-click="comenzar()" >Nueva operación</button>
			<br/>
			{{resultado}}
		</div>
		<div class="CajaUno animated bounceInLeft">
			

			
			
		
			


		</div>

		<div class="CajaEnunciado animated bounceInLeft">
			<h2>Enunciado:</h2>
			
				<h3>
						Además de lo anterior, ahora se agregara un temporizador que a los 4(cuatro) segundos dará por terminado el juego y se verificará si el resultado es el correcto.


				</h3>
			
			
		</div>

		<div class="CajaAbajo animated bounceInUp">
			<a style=" margin-top: -10%;" class="MiBotonUTNLinea" onclick="location.href='index.html'" >Men&uacute; ejercicios</a>	
		</div>
	</body>
</html>